
.App-logo {
  margin-left: center;
  margin-right: center;
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-input {
  margin-left: 0em;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  display: flex;
  flex-direction: left;
  overflow: hidden;
  background-color: #282c34;
  font-size: calc(20px);
  float: top;
  justify-content: space-around;

}



.Acceuil {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.Database {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px );
  color: white;

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}